.header{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header > h1{
    font-size: 72px;
}
.header > p{
    font-size: 20px;
}
.search-input{
    border-radius: 20px;
    border: 1px solid #1a1a1a;
    background: #1a1a1a;
    padding: 10px;
    color: white;
    width: 500px;
    align-content: center;
    transition: 0.8s;
}
.top-estabs{
    margin-top: 80px;
    margin-bottom: 40px;
}
.btn{
    border-radius: 3px;
    transition: 0.6s;
}
.btn:hover{
    background: #0e0d0d;
    color: white;
}
footer{
    background: #ddd;
}
footer > .container > p{
    font-size: 24px;
    font-weight: bold;
    color: rgb(39, 38, 38);
}
footer > .container > .row > .col-4{
    margin-bottom: 20px;
}
footer > .container > .row > .col-4 > a{
    font-size: 18px;
    
}
footer > .container > .row > .col-4 > a:hover{
    text-decoration: none;
    color: rgb(114, 113, 113);
}
#footer-copyright{
    color: rgb(114, 113, 113);
    display: flex;
    justify-content: center;
    align-items: center;
}