
.login-form{
    padding: 40px;
    align-items: center;
    width: 500px;
    height: 500px;
    border: gray 1px solid;
    border-radius: 5;
    background: white;
}
.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
}
